body {
  font-family: 'Roboto', sans-serif;
  }

  /*mix*/
.bg_white {
  background-color:#fff;
}

.bg_blue {
  background-color: blue;
}

.bg_grey {
  background-color: #f3f5f9;
}
.wrapper-small {
  margin:auto;
  max-width: 1170px;
}

.freccia_dx {
  font-size: 40px;
  color: #031b4e;
}

.freccia_sx {
  font-size: 40px;
  color: #5b6987;
}

.freccia_dx,.freccia_dx {
  vertical-align: middle;
  display: inline-block;
}

.btn_galleria {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #0069ff;
  border-radius: 10px;
  text-align: center;
}

/*typo*/
.titolo_big{
  color: #fff;
  font-size: 58px;
 }

.titolo_sezione {
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.titolo_paragrafi {
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}

.titolo_small {
  font-size: 14px;
}

.small_p {
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.medium_p {
  font-size: 20px;
  color: #5b6987;
  padding-bottom: 20px;
}
.large_p {
  font-size: 24px;
}
.link_logo {
  color: #0069ff;
}

.colore_grey {
  color: #5b6987;
}

.colore_dark {
  color: hsl(221,93%,16%);
}

/*HEADER*/
/*header-top*/
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: hsl(221,93%,16%);
}

.top_logo {
  background-color: red;
  height: 100px;
}

.top_menu {
  background: orange;
  height: 100px;
  padding: 0 0;
}

.top_menu_dx {
  background-color: yellow;
  height: 100px;
}

/*jumbotron*/
.form_white {
  background-color: #fff;
  border-radius: 5px;
  height: 300px;
  margin: auto;
  padding: 50px;
  margin: 70px 0;
}

.titolo_jumbo {
  margin-top: 70px;
}

.testo_jumbo {
  color: #fff;
  margin: 20px 0;
}

/*loghi*/

.loghi {
  height: 200px;
}

.testo_loghi {
  text-align: center;
  margin: 40px 0;
}

.box_logo {
  height: 30px;
  background-color: green;
  margin: 25px 0;
}

.box_logo img {
  width: 100%;
}

.link-logo {
  color: blue;
  text-align: center;
  margin-top: 25px;
}

/*caselle testo*/
.caselle_testo {
  height: 500px;
  padding: 50px 0;
}

.lista_centrale {
  list-style: none;
  border-left: 1px solid grey;
  margin: 25px 0;
}

.lista_centrale li {
  padding: 15px 0;
}

/*galleria*/

.box_immagine {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 90%;
  height:300px;
  margin:auto;
  background-color: orange;
}

.lista_galleria {
  padding-bottom: 30px;
}
.lista_galleria li {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.lista_galleria li:first-child {
  color: #0069ff;
}
 /*caselle testi centrale*/
.testo_centrale {
  height: 700px;
}
