body {
  font-family: 'Roboto', sans-serif;
  }

  /*mix*/
.bg_white {
  background-color:#fff;
}

.bg_grey {
  background-color: #f3f5f9;
}
.wrapper-small {
  margin:auto;
  max-width: 1170px;
}

.freccia_dx {
  font-size: 40px;
  color: #031b4e;
}

.freccia_sx {
  font-size: 40px;
  color: #5b6987;
}

.freccia_dx,.freccia_dx {
  vertical-align: middle;
  display: inline-block;
}
.btn_top {

}
.btn_galleria {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #0069ff;
  border-radius: 10px;
  text-align: center;
}
.btn_white {
  border: 2px solid #0069ff;
  border-radius: 3px;
  padding: 5px 10px;
}
/*typo*/
.titolo_big{
  color: #fff;
  font-size: 58px;
 }

.titolo_sezione {
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.titolo_paragrafi {
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}

.titolo_small {
  font-size: 14px;
}

.small_p {
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.medium_p {
  font-size: 20px;
  color: #5b6987;
  padding-bottom: 20px;
}
.large_p {
  font-size: 24px;
}
.colore_link {
  color: #0069ff;
}

.colore_grey {
  color: #5b6987;
}

.colore_dark {
  color: #061B4E;
}

/*HEADER*/
/*header-top*/
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: : #fff;
  height: 80px;
  line-height: 80px;
  color: hsl(221,93%,16%);
}

.top_logo {
  vertical-align: middle;
  width: 100%;
  margin-top: 20px;
}

.top_menu {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.top_menu li {
  list-style: none;
  display: inline-block;
  padding-right: 15px ;
  font-weight: 500;
}

.top_menu_dx {
  height: 80px;
  line-height: 80px;
  text-align: right;
}

.top_menu_dx li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  font-weight: 500;
}
.top_menu_dx li:last-child {
  text-decoration: none;
}
/*jumbotron*/
.jumbo {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url("../img/sfondo.svg");
  background-color: #0069ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.titolo_jumbo {
  margin-top: 70px;
  padding-right: 30px;
}

.testo_jumbo {
  color: #fff;
  margin: 20px 0;
  padding-right: 50px;
}

.titolo_form {
  font-size: 26px;
  font-weight: bold;
}

.box_form {
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  margin: 70px 0;
}

.testo_form {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #e5e8ed;
  }

.btn_blue {
  background-color: #0069ff;
  color: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.btn_google {
  border: 1px solid #0069ff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #0069ff;
  text-align: center;
}

.fa-google {
  text-align: left;
}

.sottotitolo {
  font-size: 12px;
}
/*loghi*/

.loghi {
  height: 200px;
}

.testo_loghi {
  text-align: center;
  margin: 40px 0;
}

.box_logo {
  height: 30px;
  background-color: green;
  margin: 25px 0;
}

.box_logo img {
  width: 100%;
}

.link-logo {
  color: blue;
  text-align: center;
  margin-top: 25px;
}

/*caselle testo*/
.caselle_testo {
  height: 500px;
  padding: 50px 0;
}

.lista_centrale {
  list-style: none;
  border-left: 1px solid grey;
  margin: 25px 0;
}

.lista_centrale li {
  padding: 15px 0;
}

/*galleria*/

.box_immagine {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 90%;
  height:300px;
  margin:auto;
  background-color: orange;
}

.lista_galleria {
  padding-bottom: 30px;
}
.lista_galleria li {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.lista_galleria li:first-child {
  color: #0069ff;
}
 /*caselle testi centrale*/
.testo_centrale {
  height: 700px;
}
