body {
  font-family: 'Roboto', sans-serif;
  }

  /*mix*/
.bg_white {
  background-color:#fff;
}
.bg_grey {
  background-color: #f3f5f9;
}
.wrapper-small {
  margin:auto;
  max-width: 1170px;
}

.freccia_dx {
  color: #031b4e;
  padding-right: 50px;
}

.freccia_sx {
  color: #5b6987;
}

.freccia_dx,.freccia_sx {
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
}

.btn_galleria {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #0069ff;
  border-radius: 10px;
  text-align: center;
}
.btn_white {
  border: 2px solid #0069ff;
  border-radius: 3px;
  padding: 5px 10px;
}
/*typo*/
.titolo_big{
  color: #fff;
  font-size: 58px;
 }

.titolo_sezione {
  font-size: 36px;
  padding: 20px 0;
  font-weight: bold;
}

.titolo_paragrafi {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0px 10px;
}

.titolo_small {
  font-size: 14px;
}

.small_p {
  font-size: 16px;
  padding: 20px 0;
}

.medium_p {
  font-size: 20px;
  color: #5b6987;
  padding-bottom: 20px;
}
.large_p {
  font-size: 24px;
}

.colore_link {
  color: #0069ff;
  font-weight: 500;
}
.colore_grey {
  color: #5b6987;
}
.colore_dark {
  color: #031B4E;
}

/*HEADER*/
/*header-top*/
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  height: 80px;
  line-height: 80px;
}

.top_logo {
  vertical-align: middle;
  width: 100%;
  margin-top: 20px;
}

.top_menu {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.top_menu li {
  list-style: none;
  display: inline-block;
  padding-right: 15px ;
  font-weight: 500;
}

.top_menu_dx {
  height: 80px;
  line-height: 80px;
  text-align: right;
}

.top_menu_dx li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  font-weight: 500;
}
.top_menu_dx li:last-child {
  text-decoration: none;
}
/*jumbotron*/
.jumbo {
  padding-top: 150px;
  padding-bottom: 70px;
  background-image: url("../img/sfondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.titolo_jumbo {
  margin-top: 85px;
  padding-right: 35px;
  vertical-align: middle;
}

.testo_jumbo {
  color: #fff;
  margin: 20px 0;
  padding-right: 0;
}

.titolo_form {
  font-size: 26px;
  font-weight: bold;
}

.box_form {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  margin: 75px 0;
  margin-left: 40px;
}

.testo_form {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #e5e8ed;
  }

.btn_blue {
  background-color: #0069ff;
  color: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.btn_google {
  border: 1px solid #0069ff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #0069ff;
  text-align: center;
}

.fa-google {
  text-align: left;
}

.sottotitolo {
  font-size: 12px;
}
/*loghi*/

#loghi {
  background-color: #f3f5f9;
  margin: auto;
}

.testo_loghi {
  font-weight: 700;
  margin: 40px 0;
}

.box_logo {
  margin: 25px 0;
  margin: auto;
}

.box_logo img {
  max-height: 80px;
}

.link_logo {
  padding-top: 25px;
  font-weight: 500;
}

/*caselle testo*/
#caselle {
  padding-top: 70px;
  padding-bottom: 50px;
}

.lista_centrale {
  list-style: none;
  border-left: 1px solid grey;
  margin: 25px 0;
  padding-left: 10px;
}

.lista_centrale li {
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
}

.box_small {
  text-align: left;
  padding-top: 12px;
}

/*galleria*/
#galleria {
  padding-top: 70px;
  padding-bottom: 50px;
}

.box_immagine {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: 0px 10% 0px 10%;
}
.testo_galleria {
  font-weight: 500;
}
.lista_galleria {
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.lista_galleria li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

 /*caselle testi centrale*/
#testo_centrale {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
}

/*sezione tabella*/
#tabella {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
}

.gradiente_blu {
  background-color: white;
  background-image: linear-gradient(blue, darkblue);
}

.gradiente_titolo {
  color: #fff;
}
.gradiente_riga {
  border-bottom: 1px solid #fff;
  margin: 5px 0px 5px 0px;
  padding-top: 2px;
}
.server {
  font-size: 13px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.location {
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.test {
  text-align: right;
  font-size: 12px;
  padding-left: 20px;
}

.ultima {
  border-bottom: none;
}
